<!DOCTYPE html>
<html>
<head>
  <title>Group Actions</title>
  <style>
    .container {
      text-align: center;
    }
    .nav-link-container {
      text-align: center;
    }
    .nav-link-container > div {
      display: inline-block;
      width: 200px; /* Adjust width as needed */
      text-align: center;
      margin: 0 10px; /* Adjust margin as needed */
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Nomad Connect</h1>

    <div class="nav-link-container">
      <div>
        <%= link_to image_tag("create_group_image.jpg", size: "200x200"), new_group_path, class: 'nav-link' %>
        <br>
        <%= link_to 'Create Group', new_group_path, class: 'nav-link' %>
      </div>
      <div>
        <%= link_to image_tag("join_group_image.jpg", size: "200x200"), join_group_path, class: 'nav-link' %>
        <br>
        <%= link_to "Join Group", join_group_path, class: 'nav-link' %>
      </div>
      <div>
        <%= link_to image_tag("view_group_image.jpg", size: "200x200"), view_group_path, class: 'nav-link' %>
        <br>
        <%= link_to "View Joined Group", view_group_path, class: 'nav-link' %>
      </div>
    </div>
  </div>
</body>
</html>
