<!-- app/views/groups/edit.html.erb -->
<h1>Edit Group</h1>

<%= form_with(model: @group, url: group_path(@group), method: :patch) do |form| %>
  <div class="field">
    <%= form.label :group_name %>
    <%= form.text_field :group_name %>
  </div>

  <div class="field">
    <%= form.label :group_size %>
    <%= form.number_field :group_size %>
  </div>

  <div class="field">
    <%= form.label :adventure_location %>
    <%= form.text_field :adventure_location %>
  </div>

  <div class="field">
    <%= form.label :other_information %>
    <%= form.text_area :other_information %>
  </div>

  <div class="actions">
    <%= form.submit "Update" %>
    <%= link_to "Cancel", view_group_path(group_id: @group.id) %>
  </div>
<% end %>
