<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!-- Filters -->
      <%= form_tag root_path, method: :get do %>
        <div class="form-group">
          <%= label_tag :size %>
          <%= select_tag :size, options_for_select([['None', nil]] + @sizes.map {|s| [s, s]}, params[:size]), class: 'form-select' %>
        </div>
        <div class="form-group">
          <%= label_tag :adventure %>
          <%= select_tag :adventure, options_for_select([['None', nil]] + @adventures.map {|a| [a, a]}, params[:adventure]), class: 'form-select' %>
        </div>
        <div class="form-group">
          <%= label_tag :exterior_color %>
          <%= select_tag :exterior_color, options_for_select([['None', nil]] + @exterior_colors.map {|c| [c, c]}, params[:exterior_color]), class: 'form-select' %>
        </div>
        <div class="form-group">
          <%= label_tag :interior_theme %>
          <%= select_tag :interior_theme, options_for_select([['None', nil]] + @interior_themes.map {|t| [t, t]}, params[:interior_theme]), class: 'form-select' %>
        </div>
        <div class="form-group">
          <%= label_tag :sort_by %>
          <%= select_tag :sort_by, options_for_select([['None', nil], ['Price: Low to High', 'price_asc'], ['Price: High to Low', 'price_desc'], ['Newest First', 'created_at_desc']], params[:sort_by]), class: 'form-select' %>
        </div>

        <%= submit_tag 'Apply Filters', class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-9">
      <!-- Search -->
      <%= form_tag root_path, method: :get, class: 'form-inline mb-3' do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: 'form-control mr-2', placeholder: 'Search caravans...' %>
          <div class="input-group-append">
            <%= button_tag type: 'submit', class: 'btn btn-primary' do %>
              <i class="bi bi-search"></i> <!-- Search symbol icon -->
            <% end %>
          </div>
        </div>
      <% end %>

      <!-- Caravan listings -->
      <div class='container'>
        <div class="row">
          <% if @caravans.present? %>
            <% @caravans.each do |caravan| %>
              <div class="col-md-4">
                <div class="card mb-4">
                  <% if caravan.image.attached? %>
                    <%= image_tag caravan.image, class: 'card-img-top' %>
                  <% else %>
                    <%= image_tag 'placeholder.png', class: 'card-img-top' %>
                  <% end %>
                  <div class="card-body">
                    <h5 class="card-title"><%= caravan.name %></h5>
                    <p class="card-text">
                      Size: <%= caravan.size %> |
                      Adventure: <%= caravan.adventure %> |
                      Color: <%= caravan.exterior_color %> |
                      Theme: <%= caravan.interior_theme %>
                    </p>
                    <p class="card-text">Price: <%= number_to_currency(caravan.price) %></p>
                    <div class="btn-group-vertical" role="group" aria-label="Caravan Actions">
                      <td><%= link_to 'View Details', caravan_path(caravan), class: "btn btn-primary btn-block mb-2" %></td>
                      <td><%= button_to 'Add to Cart', cart_items_path, params: { caravan_id: caravan.id }, method: :post, remote: true, class: "btn btn-primary btn-block" %></td>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class="col-12">
              <p>No caravans available.</p>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Pagination -->
      <%= will_paginate @caravans %>
    </div>
  </div>
</div>
