<h1>New Caravan</h1>

<%= bootstrap_form_with model: @caravan, url: caravans_path, method: :post, local: true do |form| %>
  <%= form.text_field :name %>
  <%= form.text_field :size %>
  <%= form.text_field :adventure %>
  <%= form.text_field :exterior_color %>
  <%= form.text_field :interior_theme %>
  <%= form.number_field :price %>

  <div class="form-actions">
    <%= form.submit 'Create Caravan', class: 'btn btn-primary' %>
  </div>
<% end %>

<p>
  <%= link_to 'Back to Listings', admin_manage_listings_path, class: 'btn btn-outline-secondary' %>
</p>
