<h1> Caravan Details </h1>
<% if @caravan.image.attached? %>
  <%= image_tag @caravan.image, class: "your-custom-class", alt: "Caravan Image" %>
<% end %>
<p>
 Name: <%= @caravan.name %>
 </p>
 <p>
 Size : <%= @caravan.size %>
 </p>
 <p>
 Adventure : <%= @caravan.adventure %>
 </p>

 <p>
 Exterior Color : <%= @caravan.exterior_color %>
 </p>

 <p>
 Interior Theme : <%= @caravan.interior_theme %>
 </p>

 <p>
 Price : <%= @caravan.price %>
 </p>

 <div class="col">
 <%= link_to 'Back', cart_path, class: "btn btn-secondary" %>
</div>
