<!DOCTYPE html>
<html>
  <head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
    # body {
    #   # background-image: url('<%= asset_path("back1.jpg") %>'); /* Set the background image */
    #   background-size: cover; /* Cover the entire background */
    #   background-repeat: no-repeat; /* Prevent repeating the background image */
    #   background-attachment: fixed; /* Ensure the background image stays fixed */
    # }
  </style>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'shared/flash' %>


    <main role="main" class="container">
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
